.glitch-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glitch {
  $offset1: 2px;
  $offset2: -2px;
  $highlight1: #49fc00;
  $highlight2: adjust-hue($highlight1, 180);

  text-transform: upercase;
  position: relative;
  display: inline-block;

  &::before,
  &::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
  }

  &::before {
    left: $offset1;
    text-shadow: -2px 0 $highlight1;
    clip: rect(24px, 550px, 90px, 0);
    animation: glitch-anim-2 3s infinite linear alternate-reverse;
  }

  &::after {
    left: $offset2;
    text-shadow: -2px 0 $highlight2;
    clip: rect(85px, 550px, 140px, 0);
    animation: glitch-anim 2.5s infinite linear alternate-reverse;
  }
}

@mixin glitch-frames($n: 20, $index: 0) {
  @if ($index <= $n) {
    $keyframeSel: percentage($index/$n);
    $rand1: round(random(150)) + px;
    $rand2: round(random(150)) + px;
    #{$keyframeSel} {
      clip: rect($rand1, 9999px, $rand2, 0);
    }
    @include glitch-frames($n, ($index + 1));
  }
}

@keyframes glitch-anim {
  @include glitch-frames(24);
}

@keyframes glitch-anim-2 {
  @include glitch-frames(30, 2);
}
