@import "~compass-mixins/lib/compass/css3";

$n-dim: 4;
$n: $n-dim * $n-dim;
$n-faces: 3;
$c: #fff #a9a9a9 #dcdcdc;
$rot: rotateX(90deg) rotateY(90deg) ();
$edge: 2.75em;
$dist: $edge + 0.5em;
$t: 3.5s;

.grid {
  &,
  * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-style: preserve-3d;
  }

  transform: rotateX(-35deg) rotateY(-45deg);
}

.cube {
  @for $i from 0 to $n {
    $j: $i%$n-dim;
    $k: floor($i/$n-dim);
    $tx: ($j - 0.5 * ($n-dim - 1)) * $dist;
    $tz: ($k - 0.5 * ($n-dim - 1)) * $dist;

    &:nth-child(#{$i + 1}) {
      transform: translate3d($tx, 0, $tz);

      .squisher {
        animation-delay: ($j + ($n-dim - 1 - $k)) * 0.05 * $t;
      }
    }
  }

  &__face {
    margin: -0.5 * $edge;
    width: $edge;
    height: $edge;

    @for $i from 0 to $n-faces {
      &:nth-child(#{$i + 1}) {
        transform: nth($rot, $i + 1) translateZ(0.5 * $edge);
        background: mix(transparentize(nth($c, $i + 1), 0.4), green);
      }
    }
  }
}

.squisher {
  transform-origin: 0 0.5 * $edge;
  transform: scaleY(0);
  animation: ani $t steps(3, end) infinite;
}

@keyframes ani {
  0%,
  50%,
  100% {
    transform: scaleY(0);
  }
  25% {
    transform: scaleY(0.5);
  }
}
