.menuItem {
  margin: 20px 0;
  padding: 10px;
  border: 5px solid rgba(#14fdce, 0.1);

  transition: all 0.3s steps(3, end);
  width: 300px;
  heigh: 50px;
  display: flex;
  justify-content: center;
  position: relative;
}

.active {
  border: 5px solid lighten(#14fdce, 30);
  letter-spacing: 2px;
  transform: scale(1.2);
}
